html, body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Scada', sans-serif;
}
#page {
    max-width: 1100px;
    flex-flow: column nowrap;
    flex-basis: 94%;
    background-color: white;
    display: flex;
    height: 100vh;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
}

.row, div[class^="col-"] {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}


/*NAVMENU*****/

.navmenu__logo_img {
    height: 60px;
}


.page__navmenu {
    user-select: none;
    padding-top: 25px;
    height: 85px;
    box-sizing: border-box;
    width: 100%;
}


.navmenu__check {display: none;}

.navmenu__showmenu, .navmenu__showmenu__close {
    cursor: pointer;
    display: none;
    padding: 5px 10px 10px;
    font-size: 30px;
}

.navmenu__toggler-menu {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0 8px 20px;
    margin: 0;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.6vw;
}

.toggler-menu__item {
    display: flex;
    margin: 0 30px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 8px;
}

.toggler-menu__item__link {
    padding: 10px;
}


.toggler-menu__item_is-active {
    color: #4c8dff;
}

.toggler-menu__item:hover {
    border-color:  #4c8dff;
}


.navmenu > .row > div:last-child {
    display: flex;
    align-items: center;
}

/*NAVMENU MEDIA QUERY*/


@media (max-width: 991px) {
    .page__navmenu > .row > div:last-child {
        display: flex;
        justify-content: flex-end;
    }

    .page__navmenu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        background-color: white;
        padding: 5px 0 0 3%;
        height: 65px;
    }

    .navmenu__showmenu, .navmenu__showmenu__close {
        display: none;
        position: fixed;
        z-index: 4;
        right: 10px;
    }

    .navmenu__showmenu {
        display: inline-block;
    }


    .navmenu__toggler-menu {
        position: fixed;
        z-index: 3;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        top: 65px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 15px 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transform: translateX(100%);
        transition: transform .2s;
        will-change: transform;
        backface-visibility: hidden;
        font-size: 30px;
        background-color: white;
    }

    .toggler-menu__item__link {
        margin: 20px 0;
    }

    .navmenu__toggler-menu::-webkit-scrollbar {display: none;}
    .navmenu__check:checked~.navmenu__toggler-menu {transform: translateX(0);}
    .navmenu__check:checked+.navmenu__showmenu {display: none;}
    .navmenu__check:checked+.navmenu__showmenu+.navmenu__showmenu__close {display: inline-block;}
}

/***********************/

/*.page__main__container {
    display: flex;
    width: 100%;
}*/

.page__main {
    z-index: 1;
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.main__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.main__buttons a {
    width: 48%;
}

.main__text button {
    width: 100%;
    height: 60px;
    font-size: 1.4vw;
    border: 1px solid #4c8dff;
    cursor: pointer;
}

.main__buttons_first, .main__buttons_second:hover {
    background-color: #4c8dff;
    color: white;
}


.main__buttons_second, .main__buttons_first:hover {
    background-color: white;
    color: #4c8dff;
}


.main__text {
    flex-basis: 33.33%;
    width: 33.33%;
    box-sizing: border-box;
    padding-right: 20px;
    font-size: 1.4vw;
    line-height: 2.8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -25px;
}

.main__text__hub {
    font-size: 4.4vw;
    line-height: 5vw;
    color: #4c8dff;
    margin: 0;
    font-weight: 400;
}

/* VIDEO SLIDER START//////////*/

.main__image {
    flex-basis: 66.67%;
    width: 66.67%;
    box-sizing: border-box;
    position: relative;
    padding-left: 30px;
}

video {
    width: 100%;
}

#slider {
    display: flex;
    flex-direction: column;
}

.slider {
    position: relative;
    padding: 0;
    margin: 0;
}

.slider li {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.slider li.active {
    display: block;
}

.dots {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.dots-item {
    list-style-type: none;
    cursor: pointer;
    margin: 10px 5px;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgray;
}

.videolabel {
    margin: 0;
    text-align: center;
    font-size: 1.4vw;
    color: #999;
}

/**********************/




/*FOOTER*********/

.page__footer {
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 15px 0;
    color: #5a5a5a;
    font-size: 1vw;
    border-top: 1px solid #d1d1d1;
}

.page__footer a:hover {
    color: black;
}

.page__footer > .row {
    justify-content: space-between;
    height: 100%;
} 

footer > .row > div, .footer__contacts > a {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer__telegram {
    padding-right: 10px;
    width: 2vw;
}

/**********************/



/**CONTACTS**************/

.contacts__main {
    flex-flow: column nowrap;
    padding: 30px 0;
    justify-content: center;
}

.main__icon {
    width: 3vw;
    padding-right: 10px;
}

.main__company-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
    margin: 20px 0;
}

.contacts__link:hover {
    color: #4c8dff;
}

/*********************************/



/*PRICE*************/

.page__main__box{
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 20px;
    box-sizing: border-box;
}



.main__rate {
    user-select: none;
    cursor: pointer;
    border: 3px solid #4c8dff;
    border-radius: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 20px 0;
    position: relative;
    overflow: hidden;
}


.inactive__rate, .inactive__rate .rate__button {
    border-color: rgba(0, 0, 0, 0.1);
    color: lightgray;
}

.inactive__rate {
    color: #999;
}


.rate__price {
    font-size: 1.6vw;
    margin: 10px 0;
}


.rate__programm {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.rate__programm__component {
    position: relative;
    padding-left: 30px;
    font-size: 1.2vw;
    line-height: 1.8vw;
    margin: 10px 0;
}

.rate__programm__component::before {
    position: absolute;
    top: -2px;
    left: 0;
    content:'✓';
}

.rate__button {
    color: #4c8dff;
    background-color: white;
    height: 40px;
    font-size: 1.3vw;
    width: 60%;
    margin: 10px auto;
    border: 1px solid #4c8dff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
}

.main__rate:hover button {
    background-color: #4c8dff;
    color: white;
}

.inactive__rate:hover button {
    background-color: white;
    color: lightgray;
}

.price__text {
    min-width: 100%;
    font-size: 1.4vw;
    line-height: 2.2vw;
    text-align: center;
    margin-bottom: 5px;
}

.price__text span {
    font-size: 1.1em;
    color: #4c8dff;
}

.price__main {
    flex-wrap: wrap;
    align-content: center;
}

/***********************************/



/*MEDIA QUERRIES***/

@media (min-width: 1800px) {
    #page {
        max-width: 1310px;
    }

    .rate__button {
        height: 60px;
    }
}


@media (max-width: 991px) {
    html, body, #page {
        height: auto;
        min-height: 100vh;
    }

    .main__image, .main__text {
        flex-basis: 100%;
        min-width: 100%;
    }
    
    #slider {
        margin-top: 20px;
    }

    .slider-item {
        max-height: calc(94vw*9/16 + 35px);
    }
    

    .page__footer {
        height: auto;
    }

    .main__text {
        padding: 0px;
        text-align: center;
    }

    .main__image {
        padding-left: 0px;
    }

    .page__main {
        margin: 90px 0 30px;
    }

    .price__main {
        flex-flow: column nowrap;
    }

    .page__main__box {
        width: 300px;
        padding: 20px 0;
        max-width: none;
        flex-basis: auto;
    }

    .main__company-contact {
        padding: 10px 0;
    }

}

@media (max-width: 991px) {
    .navmenu__toggler-menu {font-size: 22px;}
    .main__text {font-size: 18px; line-height: 28px;}
    .main__text__hub {font-size: 54px; line-height: 60px;}
    .main__text button {font-size: 18px; line-height: 20px;}
    .videolabel {font-size: 18px;}
    .price__text {font-size: 22px; line-height: 36px;}
    .rate__price {font-size: 24px;}
    .rate__programm__component {font-size: 20px; line-height: normal;}
    .rate__button {font-size: 18px; line-height: 20px;}
    .main__company-contact {font-size: 24px;}
    .page__footer {font-size: 13px;}
    .footer__telegram {width: 26px;}
    .main__icon {width: 35px;}
}


/*
@media (min-width: 1921px) {
    .navmenu__toggler-menu {font-size: 30px;}
    .main__text {font-size: 28px; line-height: 54px;}
    .main__text__hub {font-size: 86px; line-height: 96px;}
    .main__text button {font-size: 28px}
    .videolabel {font-size: 28px;}
    .price__text {font-size: 28px; line-height: 44px;}
    .rate__price {font-size: 32px}
    .rate__programm__component {font-size: 24px; line-height: 32px;}
    .rate__button {font-size: 26px;}
    .main__company-contact {font-size: 36px;}
    .page__footer {font-size: 20px;}
    .footer__telegram {width: 38px;}
    .main__icon {width: 57px;}
}
/*/

@media (min-width: 992px) {
    .navmenu__toggler-menu {font-size: 18px;}
    .main__text {font-size: 18px; line-height: 40px;}
    .main__text__hub {font-size: 60px; line-height: 60px;}
    .main__text button {font-size: 18px}
    .videolabel {font-size: 18px;}
    .price__text {font-size: 18px; line-height: 32px;}
    .rate__price {font-size: 22px}
    .rate__programm__component {font-size: 16px; line-height: 28px;}
    .rate__button {font-size: 18px;}
    .main__company-contact {font-size: 24px;}
    .page__footer {font-size: 12px;}
    .footer__telegram {width: 18px;}
    .main__icon {width: 32px;}
}

